mat-card {
  margin: 50px 0px 0px 0;
  width: 60%;

  mat-card-title {
    margin-bottom: 14px;
  }

  mat-form-field {
    margin-top: 10px;
    width: 100%;
  }

  .mat-input-element {
    font-size: medium;
    font-weight: 200;
  }

  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }

  .mat-toolbar-single-row button {
    width: 100px;
  }
  .preview {
    max-width: 200px;
    vertical-align: middle;
  }
}
