<app-common-header></app-common-header>
<div>
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">
        Create new password
      </mat-card-title>
    </mat-card-header>
    <p>Your new password must be different from provious used passwords</p>
    <mat-card-content>
      <form [formGroup]="resetPassword" (ngSubmit)="onReserPassword()">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <span
          *ngIf="(f['password'].touched || submitted) && f['password'].errors?.['required']"
        >
          Password is required
        </span>

        <mat-form-field appearance="outline">
          <mat-label>Comfirm Password</mat-label>
          <input
            matInput
            [type]="hide2 ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2"
          >
            <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <span
          *ngIf="(f['confirmPassword'].touched || submitted) && f['confirmPassword'].errors?.['required']"
        >
          Comfirm is required
        </span>

        <button mat-raised-button class="rp" color="primary" type="submit">
          Reset Password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
